<h1>Words with AngularJS</h1>


<form ng-submit="words.addWord(newWord)">
	<input type="text" placeholder="Enter a word" ng-model="newWord.word">
	<button>Save</button>
</form>



{{words.greeting}}


